<p>user works!</p>

@for (user of users; track user.userName){
  <br>
  <H3>{{user.userName}}</H3>
  <h3>{{user.password}}</h3>

}

<form action="" method="post">
  <input type="text" name="userName" [(ngModel)]="userName">
  <input type="password" name="password" [(ngModel)]="password"><br>
  <input type="submit" value="Add" (click)="addUser()">
</form>

<form action="">
  <input type="text" name="deleteUserName" [(ngModel)]="deleteUserName">
  <input type="submit" value="Delete" (click)="deleteUser()">
</form>

<form action="">
  <input type="text" name="changeUserPassword" [(ngModel)]="changePass">
  <input type="text" name="newPassword" [(ngModel)]="newPassword">
  <input type="submit" value="Change" (click)="changeUserPassword()">

</form>
